.home_background{
    height: auto;
    width: auto;
    background-image: url("../image/backgrounds/h_img.jpg");
}
.home_background_text{
    color: white;
    text-align: center;
    margin-top: 300px;
}
.mouse_click{
    text-align: center;
    margin-top: 50px;
    padding: 100px;
}
.aboutus_section_text{
    text-align: center;
    padding: 50px;
    font-weight: bold;
    font-size: 20px;
}
.services_section{
    background-image: url("../image/backgrounds/s_image.jpg");
    height: auto;
    width: auto;
    text-align: center;
    color: white;
    padding: 150px;
    font-size: 20px;
    font-weight: bold;
}
.what_we_do_section{
    height: auto;
    width: auto;
    padding: 50px;
    font-size: 20px;
    text-align: center;
}
.what_we_do{
    padding: 50px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.portfolio_section{
    text-align: center;
    height: auto;
    width: auto;
}
.image_class{
    margin: 10px;
    height: 200px;
    width: auto;
}
.gallery{
    width: 25em;
    margin: 2em auto;
}
.gallery-item{
    height: auto;
    width: 48.618784527%;
    float: left;
    margin-bottom: 2em;
    position: relative;
}
.gallery-item:first-child{
    margin-right:2.762430939%;
}
.gallery-item-img{
    width: 100%;
}
/* .port-item:hover .img-name{
    /*opacity:1;*/

.img-title{
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    display: none;
    background-color: white;
    font-weight: 20px;
}
.img-title h5{
    position: absolute;
    color: black;
    top: 33%;
    width: 100%;
    text-align: center;
    font-weight: 20px;
}
.portfolio{
    text-align: center;
    padding: 50px;
}

.contact_us_section{
    background-image: url("../image/backgrounds/c_image.jpg");
    height: 700px;
    width: auto;
    text-align: center;
    color: white;
    padding: 100px;
}
.transparent{
    background-color: rgba(0, 0, 0, 0);
    color: white;
}
.form-control::-webkit-input-placeholder{
    color: white;
    font-weight: bold;
}
.social_icons{
    padding: 50px;
    height: auto;
    width: auto;
    text-align: center;
}
.delani_end{
    height: auto;
    width: auto;
    text-align: center;
}
.textclickable1,.textclickable2,.textclickable3{
    display: none;
}
