.home_background{
    height: 1000px;
    width: auto;
    background-image: url("../image/backgrounds/h_img.jpg");
}
.home_background_text{
    color: white;
    text-align: center;
    padding-top: 400px;
}
.mouse_click{
    text-align: center;
    padding-top: 50px;
}
.aboutus_section{
    
}